src/main/resources/schema/EDISchema-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2019 xlate.io LLC, http://www.xlate.io

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License.  You may obtain a copy
  of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xlate.io/EDISchema/v2" xmlns:tns="http://xlate.io/EDISchema/v2" elementFormDefault="qualified">

  <!-- Types -->
  <complexType name="baseType" abstract="true">
    <sequence>
      <element ref="tns:description" minOccurs="0" maxOccurs="1" />
    </sequence>
    <attribute name="title" type="string" use="optional" />
  </complexType>

  <complexType name="controlType" abstract="true">
    <complexContent>
      <extension base="tns:baseType">
        <attribute name="header" type="IDREF" use="required" />
        <attribute name="trailer" type="IDREF" use="required" />
      </extension>
    </complexContent>
  </complexType>

  <complexType name="referenceType" abstract="true">
    <attribute name="ref" type="IDREF" />
    <attribute name="minOccurs" type="nonNegativeInteger" default="0">
      <annotation>
        <documentation>The minimum number of times a reference may occur at the declared location in the EDI structure.</documentation>
      </annotation>
    </attribute>
    <attribute name="maxOccurs" type="nonNegativeInteger" default="1">
      <annotation>
        <documentation>The maximum number of times a reference may occur at the declared location in the EDI structure.</documentation>
      </annotation>
    </attribute>
  </complexType>

  <simpleType name="nameType">
    <restriction base="ID">
      <pattern value="[A-Z][A-Z0-9]+" />
    </restriction>
  </simpleType>

  <simpleType name="useType">
    <restriction base="string">
      <enumeration value="required" />
      <enumeration value="optional" />
      <enumeration value="prohibited" />
    </restriction>
  </simpleType>

  <simpleType name="syntaxType">
    <restriction base="string">
      <enumeration value="single" />
      <enumeration value="paired" />
      <enumeration value="required" />
      <enumeration value="exclusion" />
      <enumeration value="conditional" />
      <enumeration value="list" />
    </restriction>
  </simpleType>

  <simpleType name="elementBaseType">
    <restriction base="string">
      <enumeration value="binary" />
      <enumeration value="date" />
      <enumeration value="decimal" />
      <enumeration value="identifier" />
      <enumeration value="numeric" />
      <enumeration value="string" />
      <enumeration value="time" />
    </restriction>
  </simpleType>

  <!-- Elements -->
  <element name="schema">
    <complexType>
      <sequence>
        <choice>
          <element ref="tns:interchange" />
          <element ref="tns:transaction" />
        </choice>

        <choice maxOccurs="unbounded">
          <element ref="tns:elementType" maxOccurs="unbounded" />
          <element ref="tns:compositeType" minOccurs="0" maxOccurs="unbounded" />
          <element ref="tns:segmentType" maxOccurs="unbounded" />
        </choice>
      </sequence>
    </complexType>
  </element>

  <element name="interchange">
    <complexType>
      <complexContent>
        <extension base="tns:controlType">
          <sequence>
            <element name="sequence">
              <complexType>
                <choice maxOccurs="unbounded">
                  <element ref="tns:segment" minOccurs="0" />

                  <element name="group" minOccurs="0">
                    <complexType>
                      <complexContent>
                        <extension base="tns:controlType">
                          <sequence>
                            <element name="transaction" minOccurs="0">
                              <complexType>
                                <complexContent>
                                  <extension base="tns:controlType">
                                    <attribute name="use" type="tns:useType" default="optional" />
                                  </extension>
                                </complexContent>
                              </complexType>
                            </element>
                          </sequence>
                          <attribute name="use" type="tns:useType" default="optional" />
                        </extension>
                      </complexContent>
                    </complexType>
                  </element>

                  <element name="transaction" minOccurs="0">
                    <complexType>
                      <complexContent>
                        <extension base="tns:controlType">
                          <attribute name="use" type="tns:useType" default="optional" />
                        </extension>
                      </complexContent>
                    </complexType>
                  </element>
                </choice>
              </complexType>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="transaction">
    <complexType>
      <sequence>
        <element name="sequence">
          <complexType>
            <choice maxOccurs="unbounded">
              <element ref="tns:segment" minOccurs="1" />
              <element ref="tns:loop" minOccurs="0" />
            </choice>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>

  <element name="loop">
    <complexType>
      <complexContent>
        <extension base="tns:baseType">
          <sequence>
            <element name="sequence">
              <annotation>
                <documentation>
                  The ordered list of segments and sub-loops contained in this loop.
                </documentation>
              </annotation>

              <complexType>
                <choice maxOccurs="unbounded">
                  <element ref="tns:segment" minOccurs="1" />
                  <element ref="tns:loop" minOccurs="0" />
                </choice>
              </complexType>
            </element>
          </sequence>

          <attribute name="code" use="required">
            <annotation>
              <documentation>Code used to uniquely a loop within the transaction/message.</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <pattern value="[A-Z0-9]{1,10}" />
              </restriction>
            </simpleType>
          </attribute>

          <attribute name="minOccurs" type="nonNegativeInteger" default="0">
            <annotation>
              <documentation>The minimum number of times a loop may repeat. A value of 0 (zero) indicates that the loop is optional.</documentation>
            </annotation>
          </attribute>
          <attribute name="maxOccurs" type="nonNegativeInteger" default="1">
            <annotation>
              <documentation>The maximum number of times a loop may repeat.</documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="elementType">
    <complexType>
      <complexContent>
        <extension base="tns:baseType">
          <sequence>
            <element ref="tns:enumeration" minOccurs="0" />
          </sequence>

          <attribute name="name" type="tns:nameType" use="required" />

          <attribute name="number">
            <simpleType>
              <restriction base="nonNegativeInteger">
                <minInclusive value="1" />
                <maxInclusive value="9999" />
              </restriction>
            </simpleType>
          </attribute>

          <attribute name="base" type="tns:elementBaseType" use="required" />
          <attribute name="minLength" type="nonNegativeInteger" default="1" />
          <attribute name="maxLength" type="nonNegativeInteger" default="1" />
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="description" type="string" />

  <element name="enumeration">
    <complexType>
      <sequence>
        <element ref="tns:value" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <element name="value">
    <simpleType>
      <restriction base="token">
        <pattern value="[A-Z0-9]+" />
      </restriction>
    </simpleType>
  </element>

  <element name="compositeType">
    <complexType>
      <complexContent>
        <extension base="tns:baseType">
          <sequence>
            <element name="sequence">
              <annotation>
                <documentation>
                  The ordered elements and syntax restrictions for a composite element.
                </documentation>
              </annotation>
              <complexType>
                <sequence>
                  <element ref="tns:element" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
            <element ref="tns:syntax" minOccurs="0" maxOccurs="unbounded" />
          </sequence>

          <attribute name="name" type="tns:nameType" use="required" />

          <attribute name="code">
            <simpleType>
              <restriction base="string">
                <pattern value="[A-Z0-9]{1,4}" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="segmentType">
    <annotation>
      <documentation>Used to declare a segment</documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="tns:baseType">
          <sequence>
            <element name="sequence" minOccurs="0">
              <annotation>
                <documentation>
                  The ordered elements, components, and syntax restrictions for a segment.
                </documentation>
              </annotation>
              <complexType>
                <sequence>
                  <choice maxOccurs="unbounded">
                    <element ref="tns:element" />
                    <element ref="tns:composite" />
                  </choice>
                </sequence>
              </complexType>
            </element>
            <element ref="tns:syntax" minOccurs="0" maxOccurs="unbounded" />
          </sequence>

          <attribute name="name" use="required">
            <annotation>
              <documentation>
                Name of the segment. Also referred to as the segment's tag. This is the two or three
                character string used to identify a segment.
              </documentation>
            </annotation>
            <simpleType>
              <restriction base="tns:nameType">
                <maxLength value="3" />
              </restriction>
            </simpleType>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="element">
    <complexType>
      <complexContent>
        <extension base="tns:referenceType" />
      </complexContent>
    </complexType>
  </element>

  <element name="composite">
    <complexType>
      <complexContent>
        <extension base="tns:referenceType" />
      </complexContent>
    </complexType>
  </element>

  <element name="segment">
    <complexType>
      <complexContent>
        <extension base="tns:referenceType" />
      </complexContent>
    </complexType>
  </element>

  <element name="syntax">
    <complexType>
      <sequence>
        <element ref="tns:position" maxOccurs="unbounded" />
      </sequence>
      <attribute name="type" type="tns:syntaxType" />
    </complexType>
  </element>

  <element name="position">
    <simpleType>
      <restriction base="nonNegativeInteger">
        <minInclusive value="1" />
      </restriction>
    </simpleType>
  </element>
</schema>
